<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069673923574-pc63f3b8sc3511vkeqk2p027h4mjkpv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069673923574-pc63f3b8sc3511vkeqk2p027h4mjkpv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAZROXrt5SN3eOWhpUi93qNMCzuEgowMlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069673923574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.FitNotes</string>
	<key>PROJECT_ID</key>
	<string>fitnotes-96d11</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnotes-96d11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069673923574:ios:6d30cc63ecdaeb0bcd7dd7</string>
</dict>
</plist>